root = true

[*]
end_of_line = lf
indent_style = space
insert_final_newline = true

[*.py]
charset = utf-8
indent_size = 4
trim_trailing_whitespace = true

[*.md]
indent_size = 4
trim_trailing_whitespace = false

[*.{css,html,sass,scss,yaml,yml}]
indent_size = 2
